[Desktop Entry]
Encoding=UTF-8
Name=Link to ml-project2-report - Online LaTeX Editor Overleaf
Type=Link
URL=https://www.overleaf.com/project/5c069926b194a2507958c3ac
Icon=text-html
